{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}

{% block content %}
<div class="d-flex flex-column min-vh-100">
  <div class="container flex-grow-1 mt-5">
      <div class="card shadow p-4">
          <h1 class="display-4 text-center">{% trans "Sign In" %}</h1>
          <p class="lead text-center">
              {% blocktranslate %}If you have not created an account yet, please 
              <a href="{{ signup_url }}">{{ _("sign up") }}</a> first.{% endblocktranslate %}
          </p>

          <div class="text-center">
              <form method="post" action="{% url 'account_login' %}" class="mt-4">
                  {% csrf_token %}

                  <div class="form-group">
                      {{ form.as_p }}
                  </div>

                  {{ redirect_field }}

                  <div class="form-group text-center">
                      <button type="submit" class="btn btn-primary btn-lg mx-2">
                          <i class="fas fa-sign-in-alt"></i> {% trans "Sign In" %}
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>

</div>
{% endblock content %}
